<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <f:cObject typoscriptObjectPath="lib.header" />
            </div>
            <div class="col-md-4">
                <f:cObject typoscriptObjectPath="lib.menufirstlevel" />
                <f:cObject typoscriptObjectPath="lib.menuservice" />
            </div>
        </div>
        <div class="row">
            <nav class="navbar">

                <div class="navbar-header">
                    <div class="navbar-title hidden-sm hidden-md hidden-lg">Men&uuml;</div>
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <f:cObject typoscriptObjectPath="menu.level2" />
                </div>

            </nav>
        </div>
    </div>
</div>

<div class="container">
    <f:render section="content" />
</div>

