<f:layout name="Default"/>

<f:section name="main">

	<div class="tx-bm-image-gallery-overview1 row">
		<div class="tx-bm-image-gallery-list-view">
			<f:for each="{items}" as="item">
				<div class="tx-bm-image-gallery-item col-md-4">
					<div class="tx-bm-image-gallery-image">
						<f:link.action arguments="{show : item.identifier}" action="list">
							<sms:image image="{item.preview}" srcset="360" sizes="(min-width: 992px) 360px, 100vw" />
						</f:link.action>
					</div>
					<p class="tx-bm-image-gallery-infobox">
						<f:link.action class="tx-bm-image-gallery-title" arguments="{show : item.identifier}"
									   action="list">
							<f:format.crop maxCharacters="55">{item.title}</f:format.crop>
						</f:link.action>
					</p>
				</div>
			</f:for>
		</div>
	</div>
</f:section>
